.idea*
results*
GazemapGen/Training*.png

# CPP ignores
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app


GazemapGen/Student_data.csv
Activate/confidences.txt
